<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
<bean id="city" class="com.github.muhin007.coldplacespring.data.beans.City"/>
<bean id="temp" class="com.github.muhin007.coldplacespring.data.beans.Temp"/>
<bean id="user" class="com.github.muhin007.coldplacespring.data.beans.UserProfile">
    <constructor-arg index="0" value="${login}"/>
    <constructor-arg index="1" value="${pass}"/>
    <constructor-arg index="2" value="${email}"/>
    <constructor-arg index="3" value="${role}"/>
</bean>
        </beans>