<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
</head>
<style>
    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }
</style>
<body>
<h1>Выбери приложение</h1>
<p><a href="/URLRead">Выбери город из списка и узнай температуру</a>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <a href="/button">Нажми на кнопку и узнай случайную температуру</a>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <a href="/search">Введи название города и узнай температуру</a></p>
</body>
</html>