<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="windows-1251"/>
    <title>CityList</title>
</head>
<body>
<div class="block-menu-therm">
    <h2>Cities</h2>
    <div class="content">
        <ul class="menu">
            <li><a href="Москве">Москва</a></li>
            <li><a href="Челябинске">Челябинск</a></li>
            <li><a href="Санкт-Петербурге">Санкт-Петербург</a></li>
            <li><a href="Новосибирске">Новосибирск</a></li>
            <li><a href="Магадане">Магадан</a></li>
            <li><a href="Сочи">Сочи</a></li>
            <li><a href="Казани">Казань</a></li>
            <li><a href="Нижнем Новгороде">Нижний Новгород</a></li>
            <li><a href="Омске">Омск</a></li>
            <li><a href="Екатеринбурге">Екатеринбург</a></li>
            <li><a href="Тюмене">Тюмень</a></li>
            <li><a href="Барнауле">Барнаул</a></li>
            <li><a href="Владивостоке">Владивосток</a></li>
        </ul>

        <selector name="cityUrlPart">
            <option value="Погода_в_Челябинске">Челябинск</option>
            <option value="Погода_в_Челябинске">Москва</option>
        </selector>
    </div>
</div>
</body>
</html>