<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Coldplaceweb</title>
</head>
<body>
<form action="/index.html" method="POST">
    Enter the name of the city: <input type="text" name="name"/>
    <input type="submit" value="Ok">
</form>
<div class="block-menu-therm">
    <h2>Cities</h2>
    <div class="content">
        <ul class="menu">
            <li><a href="Москве">Москва</a></li>
            <li><a href="Челябинске">Челябинск</a></li>
            <li><a href="Санкт-Петербурге">Санкт-Петербург</a></li>
            <li><a href="Новосибирске">Новосибирск</a></li>
            <li><a href="Магадане">Магадан</a></li>
            <li><a href="Сочи">Сочи</a></li>
            <li><a href="Казани">Казань</a></li>
            <li><a href="Нижнем Новгороде">Нижний Новгород</a></li>
            <li><a href="Омске">Омск</a></li>
            <li><a href="Екатеринбурге">Екатеринбург</a></li>
            <li><a href="Тюмене">Тюмень</a></li>
            <li><a href="Барнауле">Барнаул</a></li>
            <li><a href="Владивостоке">Владивосток</a></li>
        </ul>
    </div>
</div>
</body>
</html>