<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Coldplaceweb</title>
</head>
<body>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2 style="text-align: center;">&nbsp;<strong>Добро пожаловать в Coldplaceweb</strong></h2>
<p style="text-align: center;"><strong>Войдите используя лгин и пароль</strong></p>
<p style="text-align: center;">&nbsp;</p>
<form method="POST">
    <p style="text-align: center;">Логин:&nbsp;<input name="login" type="text" /></p>
    <p style="text-align: center;">Пароль:&nbsp;<input name="pass" type="password" /></p>

    <p style="text-align: center;"><input type="submit" value="Вход" /></p>
</form>
</body>
</html>