<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Coldplaceweb</title>
</head>
<body>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2 style="text-align: center;">&nbsp;<strong>Добро пожаловать в Coldplaceweb</strong></h2>
<p style="text-align: center;"><strong>Для начала работы нужно пройти регистрацию или авторизацию</strong></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">Введи логин и пароль в форму ниже</p>
<form method="POST">
    <p style="text-align: center;">Логин:&nbsp;<input name="login" type="text" /></p>
    <p style="text-align: center;">Пароль:&nbsp;<input name="pass" type="text" /></p>
    <p style="text-align: center;">E-mail:&nbsp;<input name="email" type="text" /></p>
    <p style="text-align: center;"><input type="hidden" name="role" value="user">
    </select></p>
    <p style="text-align: center;"><input type="submit" value="Регистрация" /></p>
</form>
</body>
</html>