<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Coldplaceweb</title>
</head>
<style>
    p{
        text-align: center;
    }
    h2{
        text-align: center;
    }
</style>
<body>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2 >&nbsp;<strong>Добро пожаловать в Coldplaceweb</strong></h2>
<p ><strong>Для начала работы нужно пройти регистрацию или авторизацию</strong></p>
<p >&nbsp;</p>
<p >Введи логин и пароль в форму ниже</p>
<form method="POST">
    <p >Логин:&nbsp;<input name="login" type="text"></p>
    <p >Пароль:&nbsp;<input name="pass" type="password"></p>
    <p >E-mail:&nbsp;<input name="email" type="text"></p>
    <p ><input type="hidden" name="role" value="user"></p>
    <p ><input type="submit" value="Регистрация" /></p>
</form>
</body>
</html>