<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Coldplaceweb</title>
</head>
<body>
<form action="/URLRead" method="POST">
        Enter URL: <input type="text" name="URL"/>
    <input type="submit" value="Ok">
</form>
<div class="block-menu-therm">
    <h2>Cities</h2>
    <div class="content">
        <ul class="menu">
            <li><a href="">Moskow</a></li>
            <li><a href="https://rp5.ru/Погода_в_Челябинске">Челябинск</a></li>
            <li><a href="https://rp5.ru/Погода_в_Санкт-Петербурге">Санкт-Петербург</a></li>
            <li><a href="https://rp5.ru/Погода_в_Новосибирске">Новосибирск</a></li>
            <li><a href="https://rp5.ru/Погода_в_Магадане">Магадан</a></li>
            <li><a href="https://rp5.ru/Погода_в_Сочи">Сочи</a></li>
            <li><a href="https://rp5.ru/Погода_в_Казани">Казань</a></li>
            <li><a href="https://rp5.ru/Погода_в_Нижнем_Новгороде">Нижний Новгород</a></li>
            <li><a href="https://rp5.ru/Погода_в_Омске">Омск</a></li>
            <li><a href="https://rp5.ru/Погода_в_Екатеринбурге">Екатеринбург</a></li>
            <li><a href="https://rp5.ru/Погода_в_Тюмени,_Тюменская_область">Тюмень</a></li>
            <li><a href="https://rp5.ru/Погода_в_Барнауле">Барнаул</a></li>
            <li><a href="https://rp5.ru/Погода_в_Владивостоке">Владивосток</a></li>
        </ul>
    </div>
</div>
</body>
</html>