<span style="background-color:#FF0000">${message}</span></span></pre>
<pre style="text-align:center">
<u><strong><span style="font-size:22px"><span style="font-family:arial,helvetica,sans-serif"> 
В городе ${cityName} сейчас ${cityTemp} градусов</span></span> 
</strong></u> 
<span style="color:#FFFFE0"><span style="font-size:18px"><span style="font-family:arial,helvetica,sans-serif"> 
<strong><span style="background-color:#0000FF">Минимальная температура в городе ${cityName} была ${minTempCity}</span> 
</strong></span></span></span> 
<span style="font-family:arial,helvetica,sans-serif"><span style="font-size:18px"><span style="color:#F0FFF0"> 
<span style="background-color:#FF0000">Максимальная температура в городе ${cityName} была ${maxTempCity}</span></span>
</span></span></pre>
<a href="/apps">на главную</a></p>
<a href="/logout">ВЫХОД</a></p>