<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Coldplaceweb</title>
</head>
<body>
<form action="/URLRead" method="POST">
    <p><select size="13">
        <option disabled>Выберите город</option>
        <option name="Москва">Москва</option>
        <option name="Челябинск">Челябинск</option>
        <option name="Санкт-Петербург">Санкт-Петербург</option>
        <option name="Новосибирск">Новосибирск</option>
        <option name="Магадан">Магадан</option>
        <option name="Сочи">Сочи</option>
        <option name="Казань">Казань</option>
        <option name="Нижний Новгород">Нижний Новгород</option>
        <option name="Омск">Омск</option>
        <option name="Екатеринбург">Екатеринбург</option>
        <option name="Тюмень">Тюмень</option>
        <option name="Барнаул">Барнаул</option>
        <option name="Владивосток">Владивосток</option>
    </select></p>
    <p><input type="submit" value="Отправить"></p>
</form>
</body>
</html>