<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Coldplaceweb</title>
</head>
<body>
<form action="/URLRead" method="POST">
    <p><select name="cityName" size="13">
        <option disabled>Выберите город</option>
        <option value="Москва">Москва</option>
        <option value="Челябинск">Челябинск</option>
        <option value="Санкт-Петербург">Санкт-Петербург</option>
        <option value="Новосибирск">Новосибирск</option>
        <option value="Магадан">Магадан</option>
        <option value="Сочи">Сочи</option>
        <option value="Казань">Казань</option>
        <option value="Нижний Новгород">Нижний Новгород</option>
        <option value="Омск">Омск</option>
        <option value="Екатеринбург">Екатеринбург</option>
        <option value="Тюмень">Тюмень</option>
        <option value="Барнаул">Барнаул</option>
        <option value="Владивосток">Владивосток</option>
    </select></p>
    <p><input type="submit" value="Отправить"></p>
</form>
</body>
</html>