<p style="text-align: left;">${message}&nbsp;</p>
<p style="text-align: right;"><strong><a href="/apps">НА ГЛАВНУЮ</a></strong>&nbsp;</p>
<pre style="text-align: center;"><u><strong><span style="font-size: 22px;
 background-color: #ffffff;"><span style="font-family: arial,helvetica,sans-serif;">
В городе ${cityName} сейчас ${cityTemp} градусов</span></span>
</strong></u>
<span style="color: #ffffe0;"><span style="font-size: 18px;
 background-color: #ffffff;"><span style="font-family: arial,helvetica,sans-serif;">
<strong><span style="background-color: #0000ff;
">Минимальная температура в городе ${cityName} была ${minTempCity}</span>
</strong></span></span></span>
<span style="font-family: arial,helvetica,sans-serif;"><span style="font-size: 18px;
background-color: #ffffff;"><span style="color: #f0fff0;">
<span style="background-color: #ff0000;
">Максимальная температура в городе ${cityName} была ${maxTempCity}</span></span>
</span></span></pre>
<p><a href="/logout">ВЫХОД</a></p>