<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>ColdplaceButton</title>
</head>
<style>
    h1{
        text-align: center;
    }
    h2{
        text-align: center;
    }
</style>
<body>
<p style="text-align: right;"><strong><a href="/apps">НА ГЛАВНУЮ</a></strong>&nbsp;</p>
<h1>Добро пожаловать в программу "Coldplaceweb"</h1>
<h2>Пожалуйста, нажмите эту кнопку</h2>
<form action="/button" method="POST">
    <p align="center"><input type="submit" value="PRESS"></p>
</form>
<a href="/logout">ВЫХОД</a></p>
</body>
</html>