<param-value>
    <filter-name>FilterName</filter-name>
    <filter-class>FilterConnect</filter-class>
    <init-param>
        <param-name>active</param-name>
        <param-true>true</param-true>
    </init-param>
</param-value>

<filter-mapping>
<filter-name>FilterConnect</filter-name>
<servlet-name>URLColdplaceServlet</servlet-name>
</filter-mapping>
<filter-mapping>
<filter-name>FilterConnect</filter-name>
<url-pattern>*.html</url-pattern>
</filter-mapping>